body {
  margin: 0;
  font-family: Manrope, Manrope-Fallback, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
#app {
  margin: 3rem 6rem;
}
.title {
  color: #787878;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rounded-md {
  border-radius: 0.375rem;
}
.service__content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}
.service__item {
  display: flex;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.service__item:hover {
  background-color: #fafafa;
}
.service__icon {
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__icon img {
  width: 64px;
}
.service__text {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.bookmark {
  margin-top: 1rem;
}
.bookmark__content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.6rem;
}
.bookmark__item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 2.75rem;
  background-color: #f5f5f5;
}
.bookmark__item:hover {
  background-color: #fafafa;
}
@media screen and (max-width: 1440px) {
  #app {
    margin: 3rem 3rem;
  }
}
@media screen and (max-width: 1080px) {
  #app {
    margin: 3rem 6rem;
  }
  .service__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .bookmark__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #app {
    margin: 1.5rem;
  }
  .service__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .bookmark__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
