<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="icon" type="image/png" href="./icons/homepage.ico" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="./data.js"></script>
  </head>

  <body>
    <div id="app">
      <div :class="key" v-for="(value, key) in services">
        <div class="title" @click="handleTitle(key)">{{ key }}</div>
        <div class="service__content transition-all" :style="{maxHeight: expanded[key] ? '0':'500px'}">
          <a
            v-for="item in value"
            :href="item.href"
            class="service__item transition-all shadow rounded-md"
            :target="item.target || '_self'"
          >
            <div class="service__icon">
              <img :src="item.icon" />
            </div>
            <div class="service__text">{{ item.text }}</div>
          </a>
        </div>
      </div>

      <div :class="key" v-for="(value, key) in bookmarks">
        <div class="title title" @click="handleTitle(key)">{{ key }}</div>
        <div class="bookmark__content transition-all" :style="{maxHeight: expanded[key] ? '0':'500px'}">
          <a
            v-for="item in value"
            :href="item.href"
            class="bookmark__item transition-all shadow rounded-md"
            :target="item.target || '_self'"
          >
            {{ item.text }}
          </a>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref, reactive, onMounted } = Vue;
      createApp({
        setup() {
          const expanded = reactive({});
          for (let key in services) {
            expanded[key] = false;
          }
          const handleTitle = (key) => {
            expanded[key] = !expanded[key];
          };
          return {
            handleTitle,
            expanded,
            services,
            bookmarks
          };
        }
      }).mount('#app');
    </script>
  </body>
</html>
