body {
  margin: 0;
  font-family: Manrope, Manrope-Fallback, Arial, sans-serif;
}
#app {
  margin: 3.5rem auto;
  padding: 0 6rem;
}
.title {
  color: #787878;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.service__content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}
.service__item {
  display: flex;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.service__item:hover {
  background-color: #fafafa;
}
.service__icon {
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__icon img {
  object-fit: contain;
  height: 64px;
}
.service__text {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.bookmark {
  margin-top: 1rem;
}
.bookmark__content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.6rem;
}
.bookmark__item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 2.75rem;
  background-color: #f5f5f5;
}
.bookmark__item:hover {
  background-color: #fafafa;
}
@media screen and (max-width: 1440px) {
  .main-content {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1080px) {
  .main-content {
    padding: 0 6rem;
  }
  .service__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .bookmark__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    margin: 1.5rem auto;
    padding: 0 1.5rem;
  }
  .service__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .bookmark__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
